In [39]:
import pandas as pd

In [40]:
data_health = pd.read_csv("../../Resources/Raw_data/health_data.csv")

In [41]:
needed_columns_h = ['Year', 'StateAbbr', 'StateDesc', 'Data_Value_Type', 'Data_Value', 
                  'TotalPopulation', 'Short_Question_Text']
raw_health = data_health[needed_columns_h]

In [42]:
for_filter = ['Obesity', 'Depression', 'Current Asthma']

In [43]:
filtered_health = raw_health[(raw_health['Short_Question_Text'].isin(for_filter)) & 
                             (raw_health['Data_Value_Type'] == 'Age-adjusted prevalence')]

In [44]:
grouped_health = filtered_health.groupby(['Year', 'StateAbbr', 'StateDesc', 
                                        'Short_Question_Text'])['Data_Value'].mean()
gr_health = grouped_health.reset_index()
gr_health.columns = ['Year', 'State Abbriviation', 'State', 'Health Condition', 'Condition Prevalence (%)']
final_health = gr_health[gr_health['State'] != 'United States']
final_health.head()

   Year State Abbriviation    State Health Condition  Condition Prevalence (%)
0  2021                 AK   Alaska   Current Asthma                 10.126667
1  2021                 AK   Alaska       Depression                 19.620000
2  2021                 AK   Alaska          Obesity                 35.166667
3  2021                 AL  Alabama   Current Asthma                 10.883582
4  2021                 AL  Alabama       Depression                 23.302985

In [45]:
data_aqi = pd.read_csv("../../Resources/Raw_data/aqi_2021.csv")

In [46]:
needed_columns_aqi = ['State', 'Median AQI']
raw_aqi = data_aqi[needed_columns_aqi]

In [47]:
grouped_aqi = raw_aqi.groupby(['State'])['Median AQI'].mean()
grouped_aqi_res = grouped_aqi.reset_index()
grouped_aqi_res.head()

        State  Median AQI
0     Alabama   35.466667
1      Alaska   17.250000
2     Arizona   48.769231
3    Arkansas   35.818182
4  California   47.754717

In [48]:
helth_aqi = pd.merge(final_health, grouped_aqi_res, on = 'State', how = 'inner')
helth_aqi.head()

,Year,State Abbriviation,State,Health Condition,Condition Prevalence (%),Median AQI
0,2021,AK,Alaska,Current Asthma,10.126667,17.250000
1,2021,AK,Alaska,Depression,19.620000,17.250000
2,2021,AK,Alaska,Obesity,35.166667,17.250000
3,2021,AL,Alabama,Current Asthma,10.883582,35.466667
4,2021,AL,Alabama,Depression,23.302985,35.466667

In [49]:
from geopy.geocoders import Nominatim
import time

In [50]:
states = helth_aqi['State'].unique()
state_coords = []

In [51]:
geolocator = Nominatim(user_agent="project_3_UofT", timeout=10)

for state in states:
    location = geolocator.geocode(state + ", USA")
    if location:
        state_coords.append({'State': state, 'Latitude': location.latitude, 'Longitude': location.longitude})
    else:
        state_coords.append({'State': state, 'Latitude': None, 'Longitude': None})
    time.sleep(1)

In [52]:
coordinates = pd.DataFrame(state_coords)
coordinates_unique = coordinates.drop_duplicates()

In [53]:
helth_aqi_geo = pd.merge(helth_aqi ,coordinates_unique, on = "State", how = 'inner')
helth_aqi_geo.head()

,Year,State Abbriviation,State,Health Condition,Condition Prevalence (%),Median AQI,Latitude,Longitude
0,2021,AK,Alaska,Current Asthma,10.126667,17.250000,64.445961,-149.680909
1,2021,AK,Alaska,Depression,19.620000,17.250000,64.445961,-149.680909
2,2021,AK,Alaska,Obesity,35.166667,17.250000,64.445961,-149.680909
3,2021,AL,Alabama,Current Asthma,10.883582,35.466667,33.258882,-86.829534
4,2021,AL,Alabama,Depression,23.302985,35.466667,33.258882,-86.829534

In [54]:
data_temp = pd.read_csv("../../Resources/Raw_data/temp.csv")

In [55]:
temp_2021 = data_temp[data_temp['year'] == 2021]

In [56]:
temp_2021_filtered = temp_2021[['state', 'average_temp']]
temp_2021_grouped = temp_2021_filtered.groupby(['state'])['average_temp'].mean()
temp_res = temp_2021_grouped.reset_index()
temp_res.columns = ['State', 'Average Temperature (F)']

In [57]:
helth_aqi_geo_temp = pd.merge(helth_aqi_geo, temp_res, on = 'State', how = "inner")
helth_aqi_geo_temp.head()

,Year,State Abbriviation,State,Health Condition,Condition Prevalence (%),Median AQI,Latitude,Longitude,Average Temperature (F)
0,2021,AL,Alabama,Current Asthma,10.883582,35.466667,33.258882,-86.829534,63.758333
1,2021,AL,Alabama,Depression,23.302985,35.466667,33.258882,-86.829534,63.758333
2,2021,AL,Alabama,Obesity,41.310448,35.466667,33.258882,-86.829534,63.758333
3,2021,AR,Arkansas,Current Asthma,10.177333,35.818182,35.204888,-92.447911,60.833333
4,2021,AR,Arkansas,Depression,26.244000,35.818182,35.204888,-92.447911,60.833333

In [58]:
from bs4 import BeautifulSoup
import requests

In [59]:
url = "https://www.currentresults.com/Weather/US/average-annual-state-sunshine.php"
while True :
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')
    if response.status_code == 200:
        break

In [60]:
soup

<!DOCTYPE html>

<html lang="en">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type"/>
<link href="/Css-RD/main-rd-jun11-18.css" rel="stylesheet"/>
<link href="/Css-RD/mediaq-rd-jun8-18.css" media="only screen and (min-width: 29em) " rel="stylesheet"/>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link href="/apple-touch-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
<link href="/touch-icon-192x192.png" rel="icon" sizes="192x192"/>
<link href="/favicon.ico" rel="shortcut icon"/>
<meta content="#0A8BDF" name="theme-color"/>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1038710-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1038710-1', { 'anonymize_ip': true });
</script>
<script async="" crossorigin="anonymous" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8496941113728804"></script>
<title>Average Annual Sunshine by USA State - Current Results</title>
<meta content="Yearly averages for the number of sunny days, hours a day and percentage of time the sun shines in each US state. " name="description">
</meta></head>
<body>
<div id="container"><a href="#top"></a><div class="banner">
<a href="#mm"><div class="menu-navicon shadow"><div class="menu-text">Menu</div></div></a>
<a href="#ms"><div class="menu-navicon search-navicon shadow"></div></a>
<div class="centername">
<p class="title"><a href="/index.php"><span class="firstletter">C</span>urrent <span class="firstletter">R</span>esults</a></p>
<p class="tag">weather and science facts</p></div>
<div class="rwdsearch">
<script>
  (function() {
    var cx = 'partner-pub-8496941113728804:5136326527';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
         '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:searchbox-only></gcse:searchbox-only>
</div></div>
<div class="navbar"><ul><li><a href="/index.php">Home</a></li><li class="divider">|</li><li><a href="/Weather-Extremes/index.php">Weather Extremes</a></li><li class="divider">|</li><li><a href="/Weather/index.php">Weather Averages</a></li><li class="divider">|</li>
<li><a href="/Weather/US/weather-averages-index.php">USA</a></li><li class="divider">|</li>
<li><a href="/Weather/Canada/weather-averages-index.php">Canada</a></li><li class="divider">|</li>
<li><a href="/Weather/Europe/Cities/average-european-city-weather.php">Europe</a></li><li class="divider">|</li>
</ul></div>
<!--[if lt IE 10]>
<p class="ifltie10">This page doesn't display properly in Internet Explorer 9, 8 or older. Please view it in a different browser.</p>
<![endif]--><div id="maincol">
<h1>Average Annual Sunshine by State</h1>
<div class="article">
<div class="ad-blwttl-rec">
<style>
.cr-1d-rd-blwttl-desk-rec-dkbl { display:none; }
@media(min-width: 525px) { .cr-1d-rd-blwttl-desk-rec-dkbl { display: inline-block; width: 300px; height: 250px; } }
@media(min-width: 688px) { .cr-1d-rd-blwttl-desk-rec-dkbl { width: 336px; height: 280px; } }
</style>
<script async="" crossorigin="anonymous" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8496941113728804"></script>
<ins class="adsbygoogle cr-1d-rd-blwttl-desk-rec-dkbl" data-ad-client="ca-pub-8496941113728804" data-ad-slot="3681648122"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><div></div> <p>The tables below pull together numbers on the amount of sunshine that each US state usually has in a year. There's information by state on the annual averages for percent, hours and days of sun.</p>
<p>The <strong>% Sun</strong> number measures the percentage of time between sunrise and sunset that sunshine reaches the ground. <strong>Total Hours</strong> is the average number of sunny hours a place normally has in a year. <strong>Clear Days</strong> is the average number of days annually when cloud covers at most 30 percent of the sky during daylight hours.</p>
<div class="ad-mobile-rec">
<style>
.cr-1m-rd-atfld-mobe-medrec-dkbl { display:inline-block; width: 320px; height: 100px; }
@media(min-width: 525px) { .cr-1m-rd-atfld-mobe-medrec-dkbl { display: none; } }
</style>
<script async="" crossorigin="anonymous" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8496941113728804"></script>
<ins class="adsbygoogle cr-1m-rd-atfld-mobe-medrec-dkbl" data-ad-client="ca-pub-8496941113728804" data-ad-slot="6635114526" data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div><p>All of the data are averages based on several decades of weather measurements.</p>
<p>Since so few weather stations measure sunshine, meaningful state-wide averages aren't available. Instead, the tables list a place for each state that represents the state's typical amount of sunshine.</p>
<p>For information on the amount of sunshine at more places in a state, click on the state's name. </p>
<table class="clearboth articletable tablecol-1-left tablecol-2-left smalltext">
<caption>Average annual sunshine</caption>
<thead><tr>
<th>State</th>
<th>Place</th>
<th>% Sun</th>
<th>Total Hours</th>
<th>Clear Days</th></tr>
</thead><tbody>
<tr>
<td><a href="/Weather/Alabama/annual-days-of-sunshine.php">Alabama</a></td>
<td>Birmingham</td>
<td>58</td>
<td>2641</td>
<td>99</td>
</tr>
<tr>
<td><a href="/Weather/Alaska/annual-days-of-sunshine.php">Alaska</a></td>
<td>Anchorage</td>
<td>41</td>
<td>2061</td>
<td>61</td>
</tr>
<tr>
<td><a href="/Weather/Arizona/annual-days-of-sunshine.php">Arizona</a></td>
<td>Tucson</td>
<td>85</td>
<td>3806</td>
<td>193</td>
</tr>
<tr>
<td><a href="/Weather/Arkansas/annual-days-of-sunshine.php">Arkansas</a></td>
<td>Fort Smith</td>
<td>61</td>
<td>2771</td>
<td>123</td>
</tr>
<tr>
<td><a href="/Weather/California/annual-days-of-sunshine.php">California</a></td>
<td>San Diego</td>
<td>68</td>
<td>3055</td>
<td>146</td>
</tr>
<tr>
<td><a href="/Weather/Colorado/annual-days-of-sunshine.php">Colorado</a></td>
<td>Grand Junction</td>
<td>71</td>
<td>3204</td>
<td>136</td>
</tr>
<tr>
<td><a href="/Weather/Connecticut/sunshine-by-month.php">Connecticut</a></td>
<td>Hartford</td>
<td>56</td>
<td>2585</td>
<td>82</td>
</tr>
<tr>
<td><a href="/Weather/Delaware/annual-weather-averages.php">Delaware</a></td>
<td>Wilmington</td>
<td>–</td>
<td>–</td>
<td>97</td>
</tr>
<tr>
<td><a href="/Weather/Florida/annual-days-of-sunshine.php">Florida</a></td>
<td>Tampa</td>
<td>66</td>
<td>2927</td>
<td>101</td>
</tr>
<tr>
<td><a href="/Weather/Georgia/annual-days-of-sunshine.php">Georgia</a></td>
<td>Macon</td>
<td>66</td>
<td>2986</td>
<td>112</td>
</tr>
<tr>
<td><a href="/Weather/Hawaii/annual-days-of-sunshine.php">Hawaii</a></td>
<td>Honolulu</td>
<td>71</td>
<td>–</td>
<td>90</td>
</tr>
<tr>
<td><a href="/Weather/Idaho/annual-days-of-sunshine.php">Idaho</a></td>
<td>Boise</td>
<td>64</td>
<td>2993</td>
<td>120</td>
</tr>
<tr>
<td><a href="/Weather/Illinois/annual-days-of-sunshine.php">Illinois</a></td>
<td>Peoria</td>
<td>56</td>
<td>2567</td>
<td>95</td>
</tr>
<tr>
<td><a href="/Weather/Indiana/annual-days-of-sunshine.php">Indiana</a></td>
<td>Indianapolis</td>
<td>55</td>
<td>2440</td>
<td>88</td>
</tr>
<tr>
<td><a href="/Weather/Iowa/annual-days-of-sunshine.php">Iowa</a></td>
<td>Des Moines</td>
<td>59</td>
<td>2691</td>
<td>105</td>
</tr>
<tr>
<td><a href="/Weather/Kansas/annual-days-of-sunshine.php">Kansas</a></td>
<td>Wichita</td>
<td>65</td>
<td>2922</td>
<td>128</td>
</tr>
</tbody></table>
<div class="ad-mid-hor">
<script async="" crossorigin="anonymous" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8496941113728804"></script>
<ins class="adsbygoogle" data-ad-client="ca-pub-8496941113728804" data-ad-format="auto" data-ad-slot="7972246922" data-full-width-responsive="true" style="display:block"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="clearboth padtop1em"></div>
<table class="articletable tablecol-1-left tablecol-2-left smalltext">
<thead><tr>
<th>State</th>
<th>Place</th>
<th>% Sun</th>
<th>Total Hours</th>
<th>Clear Days</th></tr>
</thead><tbody>
<tr>
<td><a href="/Weather/Kentucky/annual-days-of-sunshine.php">Kentucky</a></td>
<td>Louisville</td>
<td>56</td>
<td>2514</td>
<td>93</td>
</tr>
<tr>
<td><a href="/Weather/Louisiana/annual-days-of-sunshine.php">Louisiana</a></td>
<td>New Orleans</td>
<td>57</td>
<td>2649</td>
<td>101</td>
</tr>
<tr>
<td><a href="/Weather/Maine/sunshine-by-month.php">Maine</a></td>
<td>Portland</td>
<td>57</td>
<td>2513</td>
<td>101</td>
</tr>
<tr>
<td><a href="/Weather/Maryland/sunshine-by-month.php">Maryland</a></td>
<td>Baltimore</td>
<td>57</td>
<td>2582</td>
<td>105</td>
</tr>
<tr>
<td><a href="/Weather/Massachusetts/sunshine-by-month.php">Massachusetts</a></td>
<td>Boston</td>
<td>58</td>
<td>2634</td>
<td>98</td>
</tr>
<tr>
<td><a href="/Weather/Michigan/annual-days-of-sunshine.php">Michigan</a></td>
<td>Lansing</td>
<td>51</td>
<td>2392</td>
<td>71</td>
</tr>
<tr>
<td><a href="/Weather/Minnesota/annual-days-of-sunshine.php">Minnesota</a></td>
<td>Minneapolis</td>
<td>58</td>
<td>2711</td>
<td>95</td>
</tr>
<tr>
<td><a href="/Weather/Mississippi/annual-days-of-sunshine.php">Mississippi</a></td>
<td>Jackson</td>
<td>61</td>
<td>2720</td>
<td>111</td>
</tr>
<tr>
<td><a href="/Weather/Missouri/annual-days-of-sunshine.php">Missouri</a></td>
<td>Springfield</td>
<td>60</td>
<td>2690</td>
<td>115</td>
</tr>
<tr>
<td><a href="/Weather/Montana/annual-days-of-sunshine.php">Montana</a></td>
<td>Helena</td>
<td>59</td>
<td>2698</td>
<td>82</td>
</tr>
<tr>
<td><a href="/Weather/Nebraska/annual-days-of-sunshine.php">Nebraska</a></td>
<td>Lincoln</td>
<td>61</td>
<td>2762</td>
<td>117</td>
</tr>
<tr>
<td><a href="/Weather/Nevada/annual-days-of-sunshine.php">Nevada</a></td>
<td>Reno</td>
<td>79</td>
<td>3646</td>
<td>158</td>
</tr>
<tr>
<td><a href="/Weather/New-Hampshire/sunshine-by-month.php">New Hampshire</a></td>
<td>Concord</td>
<td>54</td>
<td>2519</td>
<td>90</td>
</tr>
<tr>
<td><a href="/Weather/New-Jersey/sunshine-by-month.php">New Jersey</a></td>
<td>Atlantic City</td>
<td>56</td>
<td>2499</td>
<td>94</td>
</tr>
<tr>
<td><a href="/Weather/New-Mexico/annual-days-of-sunshine.php">New Mexico</a></td>
<td>Albuquerque</td>
<td>76</td>
<td>3415</td>
<td>167</td>
</tr>
<tr>
<td><a href="/Weather/New-York/annual-days-of-sunshine.php">New York</a></td>
<td>Syracuse</td>
<td>46</td>
<td>2120</td>
<td>63</td>
</tr>
<tr>
<td><a href="/Weather/North-Carolina/annual-days-of-sunshine.php">North Carolina</a></td>
<td>Greensboro</td>
<td>60</td>
<td>2651</td>
<td>109</td>
</tr>
<tr>
<td><a href="/Weather/North-Dakota/annual-days-of-sunshine.php">North Dakota</a></td>
<td>Bismarck</td>
<td>59</td>
<td>2738</td>
<td>93</td>
</tr>
</tbody></table>
<div class="ad-end-smart">
<script async="" crossorigin="anonymous" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8496941113728804"></script>
<ins class="adsbygoogle" data-ad-client="ca-pub-8496941113728804" data-ad-format="auto" data-ad-slot="3402446525" data-full-width-responsive="true" style="display:block"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="clearboth padtop1em"></div>
<table class="articletable tablecol-1-left tablecol-2-left smalltext">
<thead><tr>
<th>State</th>
<th>Place</th>
<th>% Sun</th>
<th>Total Hours</th>
<th>Clear Days</th></tr>
</thead><tbody>
<tr>
<td><a href="/Weather/Ohio/annual-days-of-sunshine.php">Ohio</a></td>
<td>Columbus</td>
<td>50</td>
<td>2183</td>
<td>72</td>
</tr>
<tr>
<td><a href="/Weather/Oklahoma/sunshine-by-month.php">Oklahoma</a></td>
<td>Oklahoma City</td>
<td>68</td>
<td>3089</td>
<td>139</td>
</tr>
<tr>
<td><a href="/Weather/Oregon/annual-days-of-sunshine.php">Oregon</a></td>
<td>Portland</td>
<td>48</td>
<td>2341</td>
<td>68</td>
</tr>
<tr>
<td><a href="/Weather/Pennsylvania/annual-days-of-sunshine.php">Pennsylvania</a></td>
<td>Harrisburg</td>
<td>58</td>
<td>2614</td>
<td>87</td>
</tr>
<tr>
<td><a href="/Weather/Rhode-Island/annual-weather-averages.php">Rhode Island</a></td>
<td>Providence</td>
<td>58</td>
<td>2606</td>
<td>98</td>
</tr>
<tr>
<td><a href="/Weather/South-Carolina/annual-days-of-sunshine.php">South Carolina</a></td>
<td>Columbia</td>
<td>64</td>
<td>2826</td>
<td>115</td>
</tr>
<tr>
<td><a href="/Weather/South-Dakota/annual-days-of-sunshine.php">South Dakota</a></td>
<td>Huron</td>
<td>63</td>
<td>2947</td>
<td>104</td>
</tr>
<tr>
<td><a href="/Weather/Tennessee/annual-days-of-sunshine.php">Tennessee</a></td>
<td>Nashville</td>
<td>56</td>
<td>2510</td>
<td>102</td>
</tr>
<tr>
<td><a href="/Weather/Texas/annual-days-of-sunshine.php">Texas</a></td>
<td>Dallas</td>
<td>61</td>
<td>2850</td>
<td>135</td>
</tr>
<tr>
<td><a href="/Weather/Utah/sunshine-by-month.php">Utah</a></td>
<td>Salt Lake City</td>
<td>66</td>
<td>3029</td>
<td>125</td>
</tr>
<tr>
<td><a href="/Weather/Vermont/sunshine-by-month.php">Vermont</a></td>
<td>Burlington</td>
<td>49</td>
<td>2295</td>
<td>58</td>
</tr>
<tr>
<td><a href="/Weather/Virginia/annual-days-of-sunshine.php">Virginia</a></td>
<td>Richmond</td>
<td>63</td>
<td>2829</td>
<td>100</td>
</tr>
<tr>
<td><a href="/Weather/Washington/annual-days-of-sunshine.php">Washington</a></td>
<td>Seattle</td>
<td>47</td>
<td>2170</td>
<td>58</td>
</tr>
<tr>
<td><a href="/Weather/West-Virginia/annual-days-of-sunshine.php">West Virginia</a></td>
<td>Beckley</td>
<td>–</td>
<td>–</td>
<td>60</td>
</tr>
<tr>
<td><a href="/Weather/Wisconsin/annual-days-of-sunshine.php">Wisconsin</a></td>
<td>Madison</td>
<td>54</td>
<td>2428</td>
<td>89</td>
</tr>
<tr>
<td><a href="/Weather/Wyoming/annual-days-of-sunshine.php">Wyoming</a></td>
<td>Lander</td>
<td>68</td>
<td>3073</td>
<td>114</td>
</tr>
</tbody></table>
</div>
<div class="ref">
<h5>References</h5>
<p>National Climatic Data Center. <a href=" http://ols.nndc.noaa.gov/plolstore/plsql/olstore.prodspecific?prodnum=C00095-PUB-A0001" target="_blank">Comparative Climatic Data.</a></p>
<p>World Data Center for Meteorology. <a href="http://www.ncdc.noaa.gov/oa/wdc/index.php?name=climateoftheworld" target="_blank">Climate of the World.</a></p>
</div>
<div></div> <div class="more">
<h4><a href="/Weather/US/average-state-weather.php">More American State Weather Information</a></h4>
<ul>
<li><a href="/Weather/US/average-annual-state-temperatures.php">Average Annual Temperatures by State</a></li>
<li><a href="/Weather/US/average-annual-state-precipitation.php">Average Precipitation a Year for Each State</a></li>
<li><a href="/Weather/US/annual-average-humidity-by-state.php">Annual Humidity Averages by State</a></li>
<li><a href="/Weather/US/average-snowfall-by-state.php">Yearly Snowfall in Each State</a></li>
<li><a href="/Weather/top-10-us-states-with-best-weather.php">Top 10 American States With the Best Weather</a></li>
</ul>
</div>
</div>
<div class="leftcoltop">
<a name="mm"></a><div class="lefttop-nav-breadstart"><a href="/Weather/index.php">Weather Averages</a></div>
<p class="breadcrumbs"><a href="/Weather/US/weather-averages-index.php">USA</a> &gt; <a href="/Weather/US/average-state-weather.php">States</a> &gt;</p>
<div class="lefttop-nav-category">State Sunshine</div>
<ul class="linklist">
<li><a href="/Weather/US/average-state-sunshine-in-spring.php">Spring</a></li>
<li><a href="/Weather/US/average-state-sunshine-in-summer.php">Summer</a></li>
<li><a href="/Weather/US/average-state-sunshine-in-fall.php">Fall</a></li>
<li><a href="/Weather/US/average-state-sunshine-in-winter.php">Winter</a></li>
<li><a href="/Weather/US/average-annual-state-sunshine.php">Annual</a></li>
</ul>
</div>
<div class="narrownav">
<div class="narrow-nav-subcategory"><a href="/Weather/US/average-city-weather.php">Major USA Cities</a></div>
<ul>
<li class="subtopic"><a href="/Weather/US/average-annual-temperatures-large-cities.php">Temperature</a></li>
<li class="subtopic"><a href="/Weather/US/average-annual-precipitation-by-city.php">Precipitation</a></li>
<li class="subtopic"><a href="/Weather/US/annual-snowfall-by-city.php">Snow</a></li>
<li class="subtopic"><a href="/Weather/US/average-annual-sunshine-by-city.php">Sun</a></li>
<li class="subtopic"><a href="/Weather/US/humidity-city-annual.php">Humidity</a></li>
<li class="subtopic"><a href="/Weather/US/wind-speed-city-annual.php">Wind</a></li>
<li class="subtopic"><a href="/Yearly-Weather/USA/recent-yearly-weather-usa-cities-index.php">Recent</a></li>
</ul>
<div class="narrow-nav-subcategory"><a href="/Weather/US/weather-averages-index.php">States</a></div>
<ul>
<li class="subtopic"><a href="/Weather/US/average-annual-state-temperatures.php">Temperature</a></li>
<li class="subtopic"><a href="/Weather/US/average-annual-state-precipitation.php">Precipitation</a></li>
<li class="subtopic"><a href="/Weather/US/average-snowfall-by-state.php">Snow</a></li>
<li class="subtopic"><a href="/Weather/US/average-annual-state-sunshine.php">Sun</a></li>
<li class="subtopic"><a href="/Weather/US/annual-average-humidity-by-state.php">Humidity</a></li>
</ul>
<div class="narrow-nav-subcategory"><a href="/Weather-Extremes/US/index.php">Extreme USA Weather</a></div>
<ul>
<li class="subtopic"><a href="/Weather/top-10-us-states-with-best-weather.php">Best</a></li>
<li class="subtopic"><a href="/Weather-Extremes/US/coldest.php">Coldest</a></li>
<li class="subtopic"><a href="/Weather-Extremes/US/hottest.php">Hottest</a></li>
<li class="subtopic"><a href="/Weather-Extremes/US/snowiest.php">Snowiest</a></li>
<li class="subtopic"><a href="/Weather-Extremes/US/stormiest-cities.php">Stormiest</a></li>
<li class="subtopic"><a href="/Weather-Extremes/US/places-with-lowest-precipitation.php">Driest</a></li>
<li class="subtopic"><a href="/Weather-Extremes/US/wettest.php">Wettest</a></li>
<li class="subtopic"><a href="/Weather-Extremes/US/cloudiest.php">Cloudiest</a></li>
<li class="subtopic"><a href="/Weather-Extremes/US/windiest-cities.php">Windiest</a></li>
<li class="subtopic"><a href="/Weather-Extremes/US/calmest-cities.php">Calmest</a></li>
<li class="subtopic"><a href="/Weather-Extremes/US/sunniest.php">Sunniest</a></li>
</ul>
<div class="narrow-nav-global"><a href="/Weather-Extremes/index.php">World Weather Extremes</a></div>
<div class="narrow-nav-global"><a href="/Weather/index.php">World Weather Averages</a></div>
<div class="narrow-nav-global"><a href="/Weather/US/weather-averages-index.php">USA</a></div>
<div class="narrow-nav-global"><a href="/Weather/Canada/weather-averages-index.php">Canada</a></div>
<div class="narrow-nav-global"><a href="/Weather/Europe/Cities/average-european-city-weather.php">Europe</a></div>
<a class="to-top" href="#top"><span class="arrow">↑</span> Back to Top</a>
</div>
<div id="leftcol">
<div class="bordertopgrey"></div>
<div class="leftcol-nav-maincategory"><a href="/Weather/US/weather-averages-index.php">American Weather</a></div>
<div class="leftcol-nav-subcategory"><a href="/Weather/US/average-city-weather.php">Major USA Cities</a></div>
<div class="linklist">
<ul>
<li class="subtopic"><a href="/Weather/US/average-annual-temperatures-large-cities.php">Temperature</a></li>
<li class="subtopic"><a href="/Weather/US/average-annual-precipitation-by-city.php">Precipitation</a></li>
<li class="subtopic"><a href="/Weather/US/annual-snowfall-by-city.php">Snow</a></li>
<li class="subtopic"><a href="/Weather/US/average-annual-sunshine-by-city.php">Sun</a></li>
<li class="subtopic"><a href="/Weather/US/cloud-fog-city-annual.php">Cloud</a></li>
<li class="subtopic"><a href="/Weather/US/humidity-city-annual.php">Humidity</a></li>

In [61]:
tables = soup.find_all('table')
sunshine_tables = []

for table in tables:
    rows = table.find_all('tr')
    headers = [th.text for th in rows[0].find_all('th')]
    data = []
    for row in rows[1:]:
        cells = [td.text.strip() for td in row.find_all('td')]
        data.append(cells)
    df = pd.DataFrame(data, columns=headers)
    sunshine_tables.append(df)

In [62]:
combined_sunshine = pd.concat(sunshine_tables, ignore_index=True)

In [63]:
sunshine_filtered = combined_sunshine[['State', 'Clear Days']].copy()
sunshine_filtered['Clear Days'] = pd.to_numeric(sunshine_filtered['Clear Days'])
sunshine_filtered['% Clear Days'] = (sunshine_filtered['Clear Days'] / 365) * 100
sunshine_final = sunshine_filtered[['State', '% Clear Days']]
sunshine_final.head()

        State  % Clear Days
0     Alabama     27.123288
1      Alaska     16.712329
2     Arizona     52.876712
3    Arkansas     33.698630
4  California     40.000000

In [64]:
helth_aqi_geo_temp_sun = pd.merge(helth_aqi_geo_temp, sunshine_final, on = 'State', how = "inner")

helth_aqi_geo_temp_sun.head()

,Year,State Abbriviation,State,Health Condition,Condition Prevalence (%),Median AQI,Latitude,Longitude,Average Temperature (F),% Clear Days
0,2021,AL,Alabama,Current Asthma,10.883582,35.466667,33.258882,-86.829534,63.758333,27.123288
1,2021,AL,Alabama,Depression,23.302985,35.466667,33.258882,-86.829534,63.758333,27.123288
2,2021,AL,Alabama,Obesity,41.310448,35.466667,33.258882,-86.829534,63.758333,27.123288
3,2021,AR,Arkansas,Current Asthma,10.177333,35.818182,35.204888,-92.447911,60.833333,33.698630
4,2021,AR,Arkansas,Depression,26.244000,35.818182,35.204888,-92.447911,60.833333,33.698630

In [65]:
helth_aqi_geo_temp_sun['Condition Prevalence (%)'] = helth_aqi_geo_temp_sun['Condition Prevalence (%)'].round(2)
helth_aqi_geo_temp_sun['Average Temperature (F)'] = helth_aqi_geo_temp_sun['Average Temperature (F)'].round(2)
helth_aqi_geo_temp_sun['% Clear Days'] = helth_aqi_geo_temp_sun['% Clear Days'].round(2)
helth_aqi_geo_temp_sun['Median AQI'] = helth_aqi_geo_temp_sun['Median AQI'].round(2)
helth_aqi_geo_temp_sun = helth_aqi_geo_temp_sun.drop('Year', axis=1)
helth_aqi_geo_temp_sun.head()

,State Abbriviation,State,Health Condition,Condition Prevalence (%),Median AQI,Latitude,Longitude,Average Temperature (F),% Clear Days
0,AL,Alabama,Current Asthma,10.88,35.47,33.258882,-86.829534,63.76,27.12
1,AL,Alabama,Depression,23.30,35.47,33.258882,-86.829534,63.76,27.12
2,AL,Alabama,Obesity,41.31,35.47,33.258882,-86.829534,63.76,27.12
3,AR,Arkansas,Current Asthma,10.18,35.82,35.204888,-92.447911,60.83,33.70
4,AR,Arkansas,Depression,26.24,35.82,35.204888,-92.447911,60.83,33.70

In [66]:
helth_aqi_geo_temp_sun['ID'] = range(1, len(helth_aqi_geo_temp_sun) + 1)

helth_aqi_geo_temp_sun.head()

,State Abbriviation,State,Health Condition,Condition Prevalence (%),Median AQI,Latitude,Longitude,Average Temperature (F),% Clear Days,ID
0,AL,Alabama,Current Asthma,10.88,35.47,33.258882,-86.829534,63.76,27.12,1
1,AL,Alabama,Depression,23.30,35.47,33.258882,-86.829534,63.76,27.12,2
2,AL,Alabama,Obesity,41.31,35.47,33.258882,-86.829534,63.76,27.12,3
3,AR,Arkansas,Current Asthma,10.18,35.82,35.204888,-92.447911,60.83,33.70,4
4,AR,Arkansas,Depression,26.24,35.82,35.204888,-92.447911,60.83,33.70,5

In [69]:
population_path = '../../Resources/Raw_data/population.xlsx'
population_df = pd.read_excel(population_path)
subset_poulation = population_df.iloc[9:59, 0:2]
subset_poulation.columns = ['State', 'Population']
subset_poulation['State'] = subset_poulation['State'].str.\
    replace('.', '', regex=False).str.strip()

In [67]:
import sqlite3

In [68]:
with sqlite3.connect('../../Resources/Output/project3.sqlite') as con:
    helth_aqi_geo_temp_sun.to_sql('data', con=con, dtype={'ID': 'INTEGER PRIMARY KEY'}, if_exists= 'replace'
                                  , index=False)

In [70]:
with sqlite3.connect('../../Resources/Output/project3.sqlite') as con:
    subset_poulation.to_sql('population', con=con, dtype={'State': 'STRING PRIMARY KEY'}, if_exists= 'replace'
                                  , index=False)

: